<!-- views/profile.ejs -->
<!DOCTYPE html>

<html>
	<head>
		<title>Superset</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<script>
		$(function() {
			$('#header').load('includes/header.html');
		});
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="assets/js/script.js"></script>
	</head>

	<body>
		<div id="header"></div>

		<div class="wrapper">
			<div class="content" id="Profile">

				<section id="profile-heading">
					<div>
						<img src="assets/img/nevil-prof.jpg">
						<h1><%= user.facebook.name %></h1>
						<ul>
							<li>
								<h4>Age:</h4>
								<span>20</span>
							</li>
							<li>
								<h4>Weight:</h4>
								<span>150 lbs</span>
							</li>
						</ul>
					</div>
				</section>

				<section id="profile-workouts">
					<div>
						<h2>Workouts</h2>
						<table>
							<tr>
								<td>
									<h4>Legs</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
								<td>
									<h4>Shoulders &amp; Abs</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Chest &amp; Triceps</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
								<td>
									<h4>Back &amp; Biceps</h4>
									<a href="#">Details <i class="fa fa-arrow-down"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</section>

				<section id="profile-progress">
					<div>
						<h2>Progress</h2>
						<img src="assets/img/profile-graph.jpg">
					</div>
				</section>

			</div>
		</div>
	</body>
</html>