<!-- views/signup.ejs -->
<!DOCTYPE html>

<html>
	
	<head>
		<title>Superset</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
		$(function() {
			$('#header').load('includes/header.html');
		});
		</script>
		<script src="assets/js/script.js"></script>
	</head>

	<body>
		<div id="header"></div>

		<div class="wrapper">
			<div class="content" id="Sign-Up">

				<% if (message.length) { %>
					<div class="alert"><%= message %></div>
				<% } %>

				<!-- SIGNUP FORM -->
				<section id="signup">
					<button><i class="fa fa-facebook"></i>Connect with Facebook</button>
					<h3>Or</h3>
					<form action="/signup" method="post">
						<input type="text" name="name" placeholder="Your name">
						<input type="text" name="email" placeholder="Email">
						<input type="password" name="password" placeholder="Password">
						<input type="password" name="password-confirm" placeholder="Password, one more time">
						<input type="submit" value="Sign up">
					</form>
				</section>

			</div>
		</div>
	</body>
</html>