<head>
	<title>Superset</title>
	<meta charset="utf-8">

	<link rel="icon" type="image/png" href="assets/img/superset_favicon.png">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="assets/js/handlebars.js"></script>
	<script src="assets/js/script.js"></script>
</head>