<header>
	<nav>
		<a class="back" href="/"><i class="fa fa-angle-left"></i></a>
		<a class="logo" href="/"><h1>Superset</h1></a>
		<i class="fa fa-bars"></i>
		<nav>
			<ul>
				<li><a href="/profile"><i class="fa fa-user"></i>Profile</a></li>
				<li><a href="#"><i class="fa fa-list-alt"></i>Workouts</a></li>
				<li><a href="#"><i class="fa fa-bar-chart-o"></i>Progress</a></li>
			</ul>
		</nav>
	</nav>
</header>