<!-- views/profile.ejs -->
<!DOCTYPE html>

<html>
	
	<% include includes/head.html %>

	<body>
		
		<% include includes/header.html %>

		<div class="wrapper">
			<main class="content" id="Profile">

				<section id="profile-heading">
					<div>
						<img src="assets/img/nevil-prof.jpg">
						<% if (user.authType == 'local') { %>
							<h1><%= user.local.name %></h1>
						<% } else { %>
							<h1><%= user.facebook.name %></h1>
						<% } %>
						<ul>
							<li>
								<h4>Age:</h4>
								<span>20</span>
							</li>
							<li>
								<h4>Weight:</h4>
								<span>150 lbs</span>
							</li>
						</ul>
					</div>
				</section>

				<section id="profile-workouts">
					<div>
						<h2>Workouts</h2>
						<table>
							<tr>
								<td>
									<h4>Legs</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
								<td>
									<h4>Shoulders &amp; Abs</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Chest &amp; Triceps</h4>
									<a href="#">Details <i class="fa fa-arrow-up"></i></a>
								</td>
								<td>
									<h4>Back &amp; Biceps</h4>
									<a href="#">Details <i class="fa fa-arrow-down"></i></a>
								</td>
							</tr>
						</table>
					</div>
				</section>

			</main>
		</div>
	</body>
</html>