<!-- views/index.ejs -->
<!DOCTYPE html>

<html>
	
	{{> 'head'}}

	<body>
		
		{{> 'header'}}

		<div class="wrapper">
			<main class="content" id="Log-In">
				
				{{{ body }}}

			</main>
		</div>
	</body>
</html>